{% extends 'base.twig' %}
{% block stylesheets %}
    {% block css %}{% endblock %}
{% endblock %}
{% block body %}
    {% include 'auth/_partials/navbar.twig' %}
    <!-- Page content -->
    <div class="contentWrapper">
        <div class="row">
            <h1>{% block title %}{% endblock %}</h1>
            <h4>{% block description %}{% endblock %}</h4>
        </div>
        {% block content %}{% endblock %}
    </div><!-- end .contentWrapper -->
    {% include 'auth/_partials/footer.twig' %}
{% endblock %}
{% block javascripts %}
    {% block js %}{% endblock %}
{% endblock %}