<!-- Footer -->
<footer>
    <div class="nav-bottom navbar nav-fixed">
        <div class="row">
            <a class="col-xs-4 nav-first" href="{{ url ~ 'user/dashboard' }}">
                <i class="fa fa-university" aria-hidden="true"></i><br>
                <span class="hidden-xs">Inicio</span>
            </a>
            <a class="col-xs-4 nav-third" href="{{ url ~ 'user/career' }}">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i><br>
                <span class="hidden-xs">Apuntes</span>
            </a>
            <a class="col-xs-4 nav-fifth" href="{{ url ~ 'user/more' }}">
                <i class="fa fa-user" aria-hidden="true"></i><br>
                <span class="hidden-xs">Mi perfil</span>
            </a>
        </div>
    </div>
</footer><!-- end .nav-bottom -->